[Global]
; Command the bot should listen for
BOT_COMMAND_STR = !PEPE
; Disable to stop the bot from posting comments
ENABLE_COMMENTS = True
; Account the bot will post from
ACCOUNT_NAME = pepebot
; Posting key for the account
ACCOUNT_POSTING_KEY = 
; Active key for Hive-Engine transfers
ACCOUNT_ACTIVE_KEY = 
; Hive API node to use for read/write ops
HIVE_API_NODE = https://hived.emre.sh

[HiveEngine]
; Name of Hive-Engine token for gifting
TOKEN_NAME = PEPE
; Disable to stop the bot from making token transfers
ENABLE_TRANSFERS = True
; Amount the bot should give when invoked
TOKEN_GIFT_AMOUNT = 1.0
; List of users to block from sending and receiving gifts
GIFT_BLOCK_LIST = 

[AccessLevel1]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 10000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 1
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 1


[AccessLevel2]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 100000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 3
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 2

[AccessLevel3]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 500000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 5
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 3

[AccessLevel4]
; Minimum staked balance required for invoking the bot
MIN_TOKEN_STAKED = 1000000
; Maximum # of token gifts per day
MAX_DAILY_GIFTS = 10
; Maximum # of token gifts per day between one pair of wallets
MAX_DAILY_GIFTS_UNIQUE = 5
